{% macro row() %}<div class="row">{% endmacro %}

{% macro container() %}<div class="container">{% endmacro %}

{% macro col(cols=[]) %}<div class="col {{ cols|join(' ') }}">{% endmacro %}

{% macro enddiv() %}</div>{% endmacro %}

{% macro material_head(primary="cyan",secondary="light_blue") %}<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.{{primary}}-{{secondary}}.min.css">{% endmacro %}

{% macro navlink(url, text) %}<a class="mdl-navigation__link" href="{{ url }}">{{text}}</a>{% endmacro%}

{%macro spantitle(title) %}
<span class="mdl-layout-title">{{ title }}</span>
{% endmacro %}

{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    <title>{% block title %}{% endblock title %}</title>
    {% block head %}
      {% block metas %}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% endblock metas %}

      {% block styles %}
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      {{ material_head()}}
      {% endblock styles %}
    {% endblock head %}
    {% block scripts %}
      <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    {%- endblock scripts %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    <div class="mdl-layout mdl-js-layout">
    {% block body -%}
      <header class="mdl-layout__header">
        <div class="mdl-layout-icon"></div>
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">{{self.title()}}</span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation" aria-label="navbar">
            {% block navbar %}
            {% endblock navbar %}
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
          <span class="mdl-layout-title">{{ self.title() }} </span>
          {% block drawer %}
          {% endblock drawer %}
      </div>
      <main class="mdl-layout__content">
      {% block content -%}
      {%- endblock content %}
      </main>

    {%- endblock body %}
    </div>
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}
