{%- macro row() %}<div class="row">{% endmacro %}

{%- macro container() %}<div class="container">{% endmacro %}

{%- macro col(cols=[]) %}<div class="col {{ cols|join(' ') }}">{% endmacro %}

{%- macro enddiv() %}</div>{% endmacro %}

{%- macro material_head(primary="cyan",secondary="light_blue") %}
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.{{primary}}-{{secondary}}.min.css">
{%- endmacro %}

{%- macro navlink(url, text) %}<a class="mdl-navigation__link" href="{{ url }}">{{text}}</a>{% endmacro%}

{%- macro external_link(url, text) %}<a class="mdl-navigation__link" target="_blank" rel="noopener noreferrer" href="{{ url }}">{{text}}</a>{% endmacro%}

{%- macro spantitle(title) %}
<span class="mdl-layout-title">{{ title }}</span>
{%- endmacro %}

{%- macro title() %}{{ self.title() }}{% endmacro %}

{%- macro link_to_portfolio(id, text) %}{{ navlink(url_for('portfolio_detail',portfolio_id=id), text)}}{% endmacro %}
{%- macro link_to_product(id,symbol) %}{{ navlink(url_for('product_detail',product_id=id), symbol)}}{% endmacro %}
{%- macro link_to_symbol(symbol) %}{{ navlink(url_for('product_by_symbol',symbol=symbol), symbol)}}{% endmacro %}
{%- macro link_to_position(id,text) %}{{ navlink(url_for('position_detail',position_id=id), text)}}{% endmacro %}
{%- macro link_to_cashtx(id,text) %}{{ navlink(url_for('get_portfolio_cashtransactions',portfolio_id=id), text)}}{% endmacro %}
{%- macro link_to_tx(id,text) %}{{ navlink(url_for('get_portfolio_transactions',portfolio_id=id), text)}}{% endmacro %}
{%- macro link_to_lot(id,text) %}{{ navlink(url_for('lot_detail',lot_id=id), text)}}{% endmacro %}

{%- macro currency_fmt(num) %}{{ "%10.2f" | format(num)}}{% endmacro %}
{%- macro share_fmt(num) %}{{ "%10.6f" | format(num)}}{% endmacro %}
{%- macro perc_fmt(num) %}{{ "%10.0f" | format(num)}}{% endmacro %}

{%- macro tf_path() %}https://unpkg.com/tablefilter@0.7.3/dist/tablefilter/{% endmacro %}

{%- macro play_button() -%}{{icon_button('play_arrow')}}{%- endmacro -%}
{%- macro restore_button() -%}{{icon_button('restore')}}{%- endmacro -%}
{%- macro paid_button() -%}{{icon_button('paid')}}</button>{%- endmacro -%}
{%- macro icon_button(type) -%}<button class="mdl-button mdl-js-button mdl-button--icon">{{icon(type)}}</button>{%- endmacro -%}
{%- macro icon_button_id(id,type) -%}<button id="{{id}}" class="mdl-button mdl-js-button mdl-button--icon">{{icon(type)}}</button>{%- endmacro -%}
{%- macro icon(name) -%}<i class="material-icons">{{name}}</i>{%- endmacro -%}
{%- macro text_button(name) -%}<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">{{name}}</button>{%- endmacro -%}

{%- block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{%- endblock html_attribs %}>
{%- block html %}
  <head>
    <title>{% block title %}{%- endblock title %}</title>
    {%- block head %}
      {%- block metas %}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {%- endblock metas %}
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      {{- material_head() -}}
      {% block styles -%}
      {%- endblock styles %}
    {%- endblock head %}
      <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
      <script src="{{tf_path()}}/tablefilter.js"></script>
      <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    {% block scripts -%}
    {%- endblock scripts %}
  </head>
  <body{% block body_attribs -%}{%- endblock body_attribs %}>
    <div class="mdl-layout mdl-js-layout">
    {% block body -%}
      <header class="mdl-layout__header">
        <div class="mdl-layout-icon"></div>
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">{{self.title()}}</span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation" aria-label="navbar">
            {%- block navbar -%}
            {%- endblock navbar %}
            {{ navlink(url_for('portfolios')+"?simulated=-1", 'Manual Portfolios') }}
            {{ navlink(url_for('portfolios')+"?sumulated=1", 'Simulated Portfolios') }}
            {{ navlink(url_for('portfolios')+'/chart', 'Chart') }}
            {{ navlink(url_for('home'), 'Home') }}
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
          <span class="mdl-layout-title">AutoTrader</span>
          {{ navlink(url_for('portfolios'), 'Portfolios') }}
          {% block drawer -%}
          {%- endblock drawer %}
      </div>
      <main class="mdl-layout__content">
      {% block content -%}
      {%- endblock content %}
      </main>

    {%- endblock body %}
    </div>

  </body>
{%- endblock html %}
</html>
{%- endblock doc -%}
