{% from 'bootstrap5/form.html' import render_form %}
{% from 'base.html' import container, enddiv %}
{% macro dialog(id, form) %}
{{ container() }}
  <dialog id="{{id}}-dialog" class="mdl-dialog">
    <h4 class="mdl-dialog__title">Add Portfolio</h4>
    <div class="mdl-dialog__content">
    </div>
    <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
      {{ render_form(form) }}
    </div>
  </dialog>

  <script>
    var dialog = document.querySelector('#{{id}}-dialog');
    var showDialogButton = document.querySelector('#{{id}}');
    if (! dialog.showModal) {
      dialogPolyfill.registerDialog(dialog);
    }
    showDialogButton.addEventListener('click', function() {
      dialog.showModal();
    });
  </script>
{{ enddiv() }}
{% endmacro %}

{% macro btn(id,label) %}
<button id="{{id}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">{{label}}</button>
{% endmacro %}
