{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% import 'portfolio-form-dialog.j2' as pfd %}
{% import 'infobox.j2' as infobox %}

{%block title%}Portfolios{%- endblock %}

{% block navbar %}
{%- endblock navbar%}
{% block styles %}
<style>
.mdl-dialog {
  width: 20%;
  height: 70%;
}
</style>
{%- endblock styles %}
{% block content -%}
{{ container() }}
{{ pfd.btn('add_portfolio', 'Add Portfolio') }}
{{ enddiv() }}
{{ container() }}
    <table id="portfolio_list" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp table-filter">
      <thead>
        <tr>
          <th class="mdl-data-table__cell">ID</th>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
          <th class="mdl-data-table__cell--non-numeric">Strategy</th>
          <th class="mdl-data-table__cell--non-numeric">Invest</th>
          <th class="mdl-data-table__cell--non-numeric">Total</th>
          <th class="mdl-data-table__cell--non-numeric">Sharpe Ratio</th>
          <th class="mdl-data-table__cell--non-numeric">ROI</th>
          <th class="mdl-data-table__cell--non-numeric">Last Active</th>
          <th class="mdl-data-table__cell--non-numeric">Actions</th>
        </tr>
      </thead>
      <tbody>
    {%- for item in data  -%}
        <tr>
            <td class="mdl-data-table__cell--non-numeric">
              {{item.id}}
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              {{navlink('/portfolios/'+(item.id|string), item.name)}}
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              {{ item.strategy }}
            </td>
            <td>
              {{ currency_fmt(item.invest) }}
            </td>
            <td>
              {{ currency_fmt(item.value+item.cash+item.bank) }}
            </td>
            {{ infobox.signal_cell(item.sharpe_ratio,"%4.4f",low=0, high=1) }}
            {{ infobox.gradient_cell(item.roi, "%4.2f", low_thresholds=[-60,-50,-40,-30,-20,-10]) }}
            <td class="mdl-data-table__cell--non-numeric">
              {{ item.last_active }}
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              {%- if item.is_active -%}
              <table>
                <tr>
                  <td>
                    <form action="{{url_for('portfolio_simulate',portfolio_id=item.id)}}" method="post">
                      {{ sim_form.csrf_token }}
                      {{ play_button() }}
                    </form>
                  </td>
                  <td>
                    <form action="{{url_for('portfolio_reset',portfolio_id=item.id)}}" method="post">
                      {{ reset_form.csrf_token }}
                      {{ restore_button() }}
                    </form>
                  </td>
                  <td>
                    {{container()}}
                      {{ icon_button_id('invest_portfolio_'+(item.id|string), 'paid') }}
                    {{ enddiv() }}
                  </td>
                </tr>
              </table>
              {%- endif -%}

            </td>
          </tr>
    {%- endfor -%}
      </tbody>
    </table>
    <script>
      var tf = new TableFilter('portfolio_list', {
        base_path: '{{tf_path()}}',
        col_2: 'select',
        col_types: ['number', 'string', 'string','number', 'number', 'number', 'number', 'string'],
        extensions: [{
          name: 'sort',
          images_path: '{{tf_path()}}style/themes/'
        }]
      });
      tf.init();
    </script>
{{ enddiv() }}
{{ pfd.dialog('add_portfolio', add_form, url_for('portfolio_add')) }}

{%- for item in data  -%}
{{ pfd.dialog('invest_portfolio_'+(item.id|string), invest_form, url_for('portfolio_invest',portfolio_id=item.id), 'Invest in '+item.name) }}
{%- endfor -%}

{%- endblock content %}
