{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% import 'portfolio-form-dialog.j2' as pfd %}

{%block title%}Portfolios{% endblock %}

{% block navbar %}
{{ navlink(url_for('portfolios')+'/chart', 'Chart') }}
{% endblock navbar%}
{% block styles %}
<style>
.mdl-dialog {
  width: 80%;
  height: 70%;
}
</style>
{% endblock styles %}
{% block content %}
{{ container() }}
{{ pfd.btn('add-portfolio', 'Add Portfolio') }}
{{ enddiv() }}
{{ container() }}
    <table id="portfolio_list" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp table-filter">
      <thead>
        <tr>
          <th class="mdl-data-table__cell">ID</th>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
          <th class="mdl-data-table__cell--non-numeric">Strategy</th>
          <th class="mdl-data-table__cell--non-numeric">Invest</th>
          <th class="mdl-data-table__cell--non-numeric">Total</th>
          <th class="mdl-data-table__cell--non-numeric">ROI</th>
          <th class="mdl-data-table__cell--non-numeric">Last Active</th>
          <th class="mdl-data-table__cell--non-numeric">Actions</th>
        </tr>
      </thead>
      <tbody>
    {% for item in data %}
        <tr>
            <td class="mdl-data-table__cell--non-numeric">
              {{item.id}}
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              {{navlink('/portfolios/'+(item.id|string), item.name)}}
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              {{ item.strategy }}
            </td>
            <td>
              {{ currency_fmt(item.invest) }}
            </td>
            <td>
              {{ currency_fmt(item.value+item.cash+item.bank) }}
            </td>
            <td>
              {{ perc_fmt(item.roi) }}
            </td>

            <td class="mdl-data-table__cell--non-numeric">
              {{ item.last_active }}
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              {% if item.is_active %}
              <table>
                <tr>
                  <td>
                    <form action="/portfolios/{{item.id}}/simulate" method="get">
                      <button class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">play_arrow</i></button>
                    </form>
                  </td>
                  <td>
                    <form action="/portfolios/{{item.id}}/reset" method="get">
                      <button class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">restore</i></button>
                    </form>
                  </td>
                  <td>
                    <form action="/portfolios/{{item.id}}/invest" method="get">
                      <button class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">paid</i></button>
                    </form>
                  </td>
                </tr>
              </table>
              {% endif %}

            </td>
          </tr>
    {% endfor %}
      </tbody>
    </table>
    <script>
      var tf = new TableFilter('portfolio_list', {
        base_path: '{{tf_path()}}',
        col_2: 'select',
        col_types: ['number', 'string', 'string','number', 'number', 'number', 'string'],
        extensions: [{
          name: 'sort',
          images_path: '{{tf_path()}}style/themes/'
        }]
      });
      tf.init();
    </script>
{{ enddiv() }}
{{ pfd.dialog('add-portfolio', form) }}

{% endblock content %}
