{% extends 'base.html' %}

{%block title%}Product Detail{%endblock%}

{%- macro gf_crypto_link(symbol)%}https://www.google.com/finance/quote/{{symbol}}{% endmacro -%}
{%- macro yf_crypto_link(symbol)%}https://finance.yahoo.com/quote/{{symbol}}{% endmacro -%}
{%- macro binance_cchart_link(symbol)%}https://www.binance.us/spot-trade/{{symbol[0:-4]}}_usdt{% endmacro -%}

{% block content %}

<h1>{{ stock_data.company_name }} ({{ stock_data.symbol }})</h1>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col section">
      <h2>Currency Information</h2>
      <table>
        <tr><td>Y!:</td><td>{{ external_link(yf_crypto_link(stock_data.symbol),yf_crypto_link(stock_data.symbol))}}</td></tr>
        <tr><td>Google Finance:</td><td>{{ external_link(gf_crypto_link(stock_data.symbol),gf_crypto_link(stock_data.symbol))}}</td></tr>
        <tr><td>Binance Chart</td><td>{{ external_link(binance_cchart_link(stock_data.symbol),binance_cchart_link(stock_data.symbol))}}</td></tr>
        <tr><td>Sector:</td><td>{{ stock_data.sector }}</td></tr>
      </table>
  </div>
  <div class="mdl-cell mdl-cell--6-col section">
      <h2>Recommendations</h2>
      <table>
        <thead>
          <tr>
          <th>Portfolio</th>
          <th>Strategy</th>
          <th>Action</th>
          <th>Recommendation Date</th>
          </tr>
        </thead>
        <tbody>
          {%- for rec in stock_data.recommendations  -%}
          <tr>
            <td>{{ link_to_portfolio(rec.portfolio_id, rec.portfolio_id) }}</td>
            <td>{{rec.strategy}}</td>
            <td>{{rec.action}}</td>
            <td>{{rec.recommendation_date}}</td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
  </div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col section">
      <h2>Currency Description</h2>
      <p>{{ stock_data.info.longBusinessSummary }}</p>
  </div>
</div>

<div>
  <iframe frameborder='0' noresize='noresize' style='position: absolute; background: transparent; width: 100%; height:100%;' src="{{ binance_cchart_link(stock_data.symbol) }}" frameborder="0"></iframe>
</div>
{%- endblock content %}
